:root {
    /* --font-color: #f5f5f5; */
    --background-color: #35395c;
    --editor-background-color: #252952;
    --line-color: #808080;
  }

/* エディタの基本設定の変更 */
.CodeMirror {
    font-size: 16px !important;
    background: var(--editor-background-color);
    color: var(--font-color);
}

/* エディタのカーソル色 */
.CodeMirror-cursor {
border-left: 2px solid #dbd9f7; 
}

/* スペルチェック機能を除去（日本語が全てハイライトされてしまうため） */
.cm-spell-error {
    background: none !important;
}

/* 見出しサイズ調整 */
.cm-s-easymde .cm-header-1 {
    font-size: 25px !important;
}
.cm-s-easymde .cm-header-2 {
    font-size: 23px !important;
}
.cm-s-easymde .cm-header-3 {
    font-size: 21px !important;
}
.cm-s-easymde .cm-header-4 {
    font-size: 19px !important;
}
.cm-s-easymde .cm-header-5 {
    font-size: 17px !important;
}
.cm-s-easymde .cm-header-6 {
    font-size: 15px !important;
}

/* ここから下は機能してない */
/* アイコンの色を変更 */
.editor-toolbar a::before {
    color: red !important;
}
/* .task-list-item-checkbox { */
    /* background-color: #ffffff;  チェックされたときの背景色 */
/* } */
input[type="checkbox"]:checked {
    background-color: red !important;
}