:root {
  --font-color: #f5f5f5;
  --background-color: #35395c;
  --editor-background-color: #252952;
  --line-color: #808080;
}

body {
  background-color: var(--background-color);
}

header {
  background-color: var(--background-color);
  color: var(--font-color);
  margin-bottom: 10px;
}

.main {
  display: flex;
  background-color: var(--background-color); /* 背景色を設定（オプション） */
}

.sidebar {
  font-size: 18px;
  color: var(--font-color);
  flex: 0.6;  /* この値を変更することで、サイドバーの幅を調整できます */
  background-color: var(--background-color); /* 背景色を設定（オプション） */
  /* overflow-y: auto;  縦スクロールを許可 */
  border: 2px solid var(--line-color);
  border-radius: 10px;
  padding: 4px;  /* 内部のスペースを設定 */
}

#sidebar {
  font-size: 15px;
  flex: 0.6;  /* この値を変更することで、サイドバーの幅を調整できます */
  background-color: var(--background-color); /* 背景色を設定（オプション） */
  overflow-y: auto;  /* 縦スクロールを許可 */
  border-top: 2px solid var(--line-color); /* 上側の境界線（オプション） */
  padding: 4px;  /* 内部のスペースを設定 */
}

.editor {
  background-color: var(--editor-background-color);
  flex: 3;  /* この値を変更することで、エディターの幅を調整できます */
  padding: 2px;  /* 内部のスペースを設定 */
}

#editor {
  width: 50%;  /* エディターの幅を親要素に合わせる */
  height: 100%; /* エディターの高さを親要素に合わせる */
}

.preview {
  background-color: #0d1117;
  flex: 3;  /* この値を変更することで、プレビューの幅を調整できます */
  padding: 20px;  /* 内部のスペースを設定 */
  border: 2px solid var(--line-color);
  border-radius: 10px;
}

#preview {
  width: 100%;  /* プレビューの幅を親要素に合わせる */
  height: 100%; /* プレビューの高さを親要素に合わせる */
}

#search {
  font-size: 15px;
}

#toggle-edit-preview {
  font-size: 12px;
  margin-left: 20px;
}


.clickable {
  cursor: pointer;
}
 
/*.itemname.hovered {
/*  background-color: #e0e0e0; /* 背景色を変更 */
/*  color: #333;               /* 文字色を変更 */
/* } */
.directory.hovered {
  background-color: #e0e0e0; /* 背景色を変更 */
  color: #333;               /* 文字色を変更 */
}
.file.hovered {
  background-color: #e0e0e0; /* 背景色を変更 */
  color: #333;               /* 文字色を変更 */
}

.menu-icon {
  display: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 8px;
}

#create-file-icon {
  cursor: pointer;
  border: 2px solid transparent;
  /* margin-top: 10px;  マージンを追加 */
  /* vertical-align: middle;  top, bottom, text-top, text-bottomなども選択可能 */
  transform: translateY(4px);
}
#create-file-icon:hover {
  border: 2px solid var(--line-color);
}

#create-dir-icon {
  cursor: pointer;
  border: 2px solid transparent;
  /* margin-top: 10px;  マージンを追加 */
  /* vertical-align: middle;  top, bottom, text-top, text-bottomなども選択可能 */
  transform: translateY(4px);
}
#create-dir-icon:hover {
  border: 2px solid var(--line-color);
}
.dropdown-menu {
  font-size: 12px;
  padding: 1px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.itemname, .menu-icon {
  display: inline-block;
  vertical-align: middle;  /* アイコンとテキストを垂直方向の中央に揃える */
}

.file-container:hover .menu-icon {
  display: inline-block;  /* ホバー時にボタンを表示します */
}

.directory > .file-container {
  margin-left: 10px;  /* ズレを調整 */
}

